#interna-form{
        position: relative;
        z-index: 10;
}

#interna-form table tr{
        background: #FFFFFF;
        border: 1px solid #000000;
        padding:3px;
}

.even {
    background: none repeat scroll 0 0 #DDDDDD !important;
}
#interna-form table tr{
	border: 1px solid #000000;
	padding:3px;	
}

#interna-form table tr th,
 #interna-form  table tr td{
	border: 1px solid #000000;
	padding:3px;	
}

#interna-form a.button:hover{
	text-decoration:none;
}
#interna-form a.edit-link{
	font-weight:bolder;
	
}

#interna-view-form .colluns{
	float:left;
	margin:5px 8px 5px 5px;
	width:44%;
}
