#interna table tr{
	border: 1px solid #000000;
	padding:3px;	
}
#interna table tr th,
 #interna table tr td{
	border: 1px solid #000000;
	padding:3px;	
}
#interna a.button:hover{
	text-decoration:none;
}
#interna a.edit-link{
	font-weight:bolder;
	
}

